//=====================
//Variables
//=====================

//Typography
//---------------------
@font-family-sans-serif: 'Open Sans', Arial, sans-serif;
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

//Navbar
//---------------------
@navbar-default-bg: #2e2e2e;
@navbar-height: 60px;
@navbar-default-color: #fff;
@navbar-default-link-active-color: darken(@navbar-default-color, 100%);
@navbar-default-link-active-bg: lighten(@navbar-default-bg, 50%);
@navbar-default-link-color: @navbar-default-color;
@navbar-default-link-hover-color: #56bcda;

//=====================
//Mixins
//=====================
.btn-social(@img-pos){
  background: url('../img/univ-navbar.png') no-repeat @img-pos;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  display: block;
  float: left;
}

.icon-cats(@img-pos){
  background: url('../img/univ-cats.png') no-repeat @img-pos;
  width: 27px;
  height: 27px;
  display: block;
}

.border-radius(@radius){
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
.border-top-radius(@radius){
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -webkit-border-top-left-radius: @radius;
}

//=====================
//Classes
//=====================
body{
  background: #f8f8f8 url('../img/pw_maze_white.png') repeat center top fixed;
  padding: 60px 0 80px 0;
}
article{
  margin-bottom: 20px;
  .border-radius(7px);
  box-shadow: 0 0 10px #d1d1d1;
  header{
    padding: 0 15px;
    .border-top-radius(7px);
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    h2{
      padding: 5px 0;
      line-height: 1.1em;
      border-bottom: 1px solid #d2d2d2;
    } 
  }
  .entry-summary{
    padding: 0 15px 10px;
    background: #ffffff;
    border-bottom: 1px solid;
    overflow: hidden;
    .img-thumbnail{
      margin: 0.5em;
    }
  }
  .entry-content{
    padding: 0 15px 10px;
    background: #ffffff;
    border-bottom: 1px solid;
    overflow: hidden;
    .img-thumbnail{
      margin: 2em;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 0 0 10px 10px;
      border-bottom: 1px solid #d2d2d2;
    }
  }
  footer{
    background: #2e2e2e;
    color: #ffffff;
    .border-bottom-radius(7px);
    padding: 15px;
  }
}

.lazy{
  display: none;
}
.cats-align{
  float: left;
  margin: 0.65em;
}

#brand{
  background: url('../img/univ-navbar.png') no-repeat 0 -405px;
  max-width: 220px;
  width: 190px;
  height: 60px;
}
.navbar{
  font-weight: 500;
  color: @navbar-default-color;
}
.navbar-text{
  .navbar-link{
    text-decoration: none;
  }
}

.btn-tt{
  .btn-social(0 -328px); 
}
.btn-fb{
  .btn-social(0 0);
}
.btn-gp{
  .btn-social(0 -82px);
}
.btn-rss{
  .btn-social(0 -246px);
}
.btn-lin{
  .btn-social(0 -164px);
}

.html5-icon{
  .icon-cats(0 -329px);
  display: inline-block;
  vertical-align: middle;
}
.css3-icon{
  .icon-cats(0 -188px);
  display: inline-block;
  vertical-align: middle;
}
.cc-icon{
  .icon-cats(0 -800px);
  display: inline-block;
  vertical-align: middle;
}
.android-icon{
  .icon-cats(0 0);
}
.apple-icon{
  .icon-cats(0 -47px);
}
.arch-icon{
  .icon-cats(0 -94px);
}
.bsd-icon{
  .icon-cats(0 -141px);
}
.debian-icon{
  .icon-cats(0 -235px);
}
.fedora-icon{
  .icon-cats(0 -282px);
}
.linux-icon{
  .icon-cats(0 -376px);
}
.mageia-icon{
  .icon-cats(0 -423px);
}
.noticias-icon{
  .icon-cats(0 -470px);
}
.programacion-icon{
  .icon-cats(0 -517px);
}
.slackware-icon{
  .icon-cats(0 -564px);
}
.suse-icon{
  .icon-cats(0 -611px);
}
.tutoriales-icon{
  .icon-cats(0 -658px);
}
.ubuntu-icon{
  .icon-cats(0 -705px);
}
.windows-icon{
  .icon-cats(0 -752px);
}