border-radius()
  -webkit-border-radius arguments
  border-radius arguments
  
border-top-radius()
  border-top-right-radius arguments
  border-top-left-radius arguments
  -webkit-border-top-right-radius arguments
  -webkit-border-top-left-radius arguments
  
border-bottom-radius()
  border-bottom-right-radius arguments
  border-bottom-left-radius arguments
  -webkit-border-bottom-right-radius arguments
  -webkit-border-bottom-left-radius arguments

.locked-navbar
    padding 100px 0

.lazy
    display none

body
  background #f8f8f8 url('../img/pw_maze_white.png') repeat center top fixed
  .admin-bar .navbar-fixed-top
    top 28px
  .navbar-inner
    background #2e2e2e
  .navbar 
    .brand
      background url('../img/univ-navbar.png') no-repeat 20px -400px
      width 191px
      height 50px
    .nav
      position relative
      left 0
      display block
      float left
      padding 15px 10px 0 0
      font-size 20px
      li
        padding-left 8px
        a
          border-radius 3px
          color #ffffff
          text-decoration none
          text-shadow none
        a:hover
          color #56bcda
        a:focus
          color #ffffff
      .active
        background transparent
    .btn-navbar
      margin-top 20px
  .navbar-text
    margin-bottom 0
    line-height 65px
    .twitter
      width 32px
      height 32px
      display block
      padding 20px 2px
      float left
      background url('../img/univ-navbar.png') no-repeat 2px -308px
    .facebook
      width 32px
      height 32px
      display block
      padding 20px 2px
      float left
      background url('../img/univ-navbar.png') no-repeat 2px 20px
    .gplus
      width 32px
      height 32px
      display block
      padding 20px 2px
      float left
      background url('../img/univ-navbar.png') no-repeat 2px -62px
    .rss
      width 32px
      height 32px
      display block
      padding 20px 2px
      float left
      background url('../img/univ-navbar.png') no-repeat 2px -226px
      font-weight bold
      text-decoration none
      color #fff
  #content
    max-width 960px
    margin 0 auto
  article
    margin-bottom 20px
    border-radius 7px
    box-shadow 0 0 10px #d1d1d1
    header
      padding 0 15px
      border-top-radius 7px
      background #ffffff
      border-bottom 1px solid #ffffff
      h2
        padding 5px 0
        line-height 1.1em
        border-bottom 1px solid #d2d2d2
    .entry-summary
      padding 0 15px
      background #ffffff
      border-bottom 1px solid
      min-height 130px
    .entry-content
      padding 0 15px 10px 15px
      background #ffffff
      border-bottom 1px solid
      min-height 130px
      h1,h2,h3,h4,h5,h6
        margin 0 0 10px 10px
        border-bottom 1px solid #d2d2d2
    footer
      background #2e2e2e
      color #ffffff
      border-bottom-radius 7px
      padding 15px
  h1,h2,h3,h4,h5,h6
    margin 0 0 10px 0       
  .video-container
    position relative
    padding-bottom 56.25%
    padding-top 30px
    margin-top 5px
    margin-bottom 5px
    height 0
    overflow hidden
    iframe, object, embed
      position absolute
      top 0
      left 0
      width 100%
      height 100%
  .dropdown-menu
    min-width 145px
    background #333333
    .active
      a, a:hover
        background #e5e5e5
        color #333333
    li
      a
        color #ffffff
        :hover, :focus
          background #333333
          color #56bcda
    .twitter
      background url('../img/univ-navbar.png') no-repeat 2px -328px
      width 32px
      height 32px
      display block
      float left
      padding 0 2px
    .facebook
      background url('../img/univ-navbar.png') no-repeat 2px 0
      width 32px
      height 32px
      display block
      float left
      padding 0 2px
    .gplus
      background url('../img/univ-navbar.png') no-repeat 2px -82px
      width 32px
      height 32px
      display block
      float left
      padding 0 2px
    .linkedin
      background url('../img/univ-navbar.png') no-repeat 2px -164px
      width 32px
      height 32px
      display block
      float left
      padding 0 2px
  .author-info
    color white
    text-shadow 0 1px 0 #ffffff
    text-shadow 1px 1px 2px rgba(150,150,150,1)
    a
      color white
  .author-avatar
    float left
    img
      border-radius 60px
      border-bottom 1px solid #222
      box-shadow 0 1px 1px #222
  .author-text
    margin-left 70px
    min-height 50px
    padding 10px
    border-radius 6px
  .awesome
    background #575757
    background url('../img/awesome.svg')
    background -moz-linear-gradient(top,#575757 0%,#2e2e2e 100%)
    background -webkit-gradient(linear,left top,left bottom,color-stop(0%,#575757),color-stop(100%,#2e2e2e))
    background -webkit-linear-gradient(top,#575757 0%,#2e2e2e 100%)
    background -o-linear-gradient(top,#575757 0%,#2e2e2e 100%)
    background -ms-linear-gradient(top,#575757 0%,#2e2e2e 100%)
    background linear-gradient(to bottom,#575757 0%,#2e2e2e 100%)
    padding 5px 10px 6px
    color #fff
    text-decoration none
    line-height 1
    text-shadow 0 -1px 1px #222
    border-bottom 1px solid #222
  .comment
    margin 5px
    text-align justify
    .avatar
      border-radius 5px
      border-bottom 1px solid #222
      box-shadow 0 1px 1px #222
  .c-container
    position relative
    background #ffffff
    border 3px solid #2e2e2e
    border-radius 3px
    margin 5px 5px 20px 5px
    box-shadow inset 0 0 2px 2px #eeeeee
    :after, :before
      bottom 100%
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      pointer-events none
    :after
      border-color rgba(245,245,245,0)
      border-bottom-color #2e2e2e
      border-width 15px
      left 50%
      margin-left -15px
    :before
      border-color rgba(46,46,46,0)
      border-bottom-color #2e2e2e
      border-width 19px
      left 50%
      margin-left -19px
  section [class="comment"]
    margin 10px
    border-bottom 1px solid #d2d2d2
  .comment-reply-link
    margin-bottom 10px
  .commentlist
    ol,li
      list-style none
  .comment-author
    margin-top 10px
    margin-bottom 10px
    background #eeeeee
    padding 5px
    text-align center
    font-weight bold
    font-size 1.2em
  .reply-to-comment
    padding 0 10px 10px 0
  .user-agent
    text-align right
    color #6e6e6e
    padding 0 10px 10px 0
  blockquote
    background #fcf8e3 url(comillas.png) no-repeat 5px 5px
    border-left 10px solid #fbeed5
    border-top 1px solid #fbeed5
    border-bottom 1px solid #fbeed5
    border-right 1px solid #fbeed5
    padding 5px
    border-radius 3px
    font-style italic
  .alignrightfixed
    text-align right
  #sidebar
    .widget
      .widget-inner
        margin 0 0 20px 0
        background #2e2e2e
        border-bottom-radius 6px
        border-top-radius 6px
        box-shadow 2px #d1d1d1
      .widgettitle
        background #3198b6 url('../img/fondo-2.png') repeat-x
        padding 0 10px
        border-top-radius 6px
        h3
          color #ffffff
          text-shadow 0 1px 0 #ffffff
          text-shadow 1px 1px 2px rgba(150,150,150,1)
          font-size 1.3em
      .widgetcontent
        padding 0 10px 10px 10px
        background #2d2d2d
        border-bottom-radius 6px
        color #ffffff
        ul
          list-style none
          margin 0
          li
            border-bottom 1px dotted #444444
            padding 5px 0
            :last-child
              border none
        a:hover
          color #ffffff
  #content-info
    background #2e2e2e
    padding 15px
    font-weight bold
    color white
  .foot
    max-width 960px
    margin 0 auto
  .html
    text-align left
  .commons
    text-align right
  .aligncenter
    display block
    margin 0 auto
  .alignleft
    float left
  .alignright
    float right
  figure
    .alignnone
      margin-left 0
      margin-right 0
  .alignthumb
    float left
    margin-right 0.5em
  .aligncategory
    float left
    margin-top 0.3em
    margin-right 0.3em
  .mini-android
    background url('../img/univ-cats2.png') no-repeat 0 0
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-apple 
    background url('../img/univ-cats2.png') no-repeat 0 -47px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-arch 
    background url('../img/univ-cats2.png') no-repeat 0 -94px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-bsd
    background url('../img/univ-cats2.png') no-repeat 0 -141px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-css3 
    background url('../img/univ-cats2.png') no-repeat 0 -188px
    width 27px
    height 27px
    display inline-block
    vertical-align middle
  .mini-debian 
    background url('../img/univ-cats2.png') no-repeat 0 -235px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-fedora 
    background url('../img/univ-cats2.png') no-repeat 0 -282px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-html5 
    background url('../img/univ-cats2.png') no-repeat 0 -329px
    width 27px
    height 27px
    display inline-block
    vertical-align middle
  .mini-linux 
    background url('../img/univ-cats2.png') no-repeat 0 -376px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-mageia 
    background url('../img/univ-cats2.png') no-repeat 0 -423px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-noticias
    background url('../img/univ-cats2.png') no-repeat 0 -470px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-programacion 
    background url('../img/univ-cats2.png') no-repeat 0 -517px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-slackware 
    background url('../img/univ-cats2.png') no-repeat 0 -564px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-suse 
    background url('../img/univ-cats2.png') no-repeat 0 -611px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-tutoriales 
    background url('../img/univ-cats2.png') no-repeat 0 -658px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-ubuntu 
    background url('../img/univ-cats2.png') no-repeat 0 -705px
    width 27px
    height 27px
    display block
    margin-top 8px
  .mini-windows 
    background url('../img/univ-cats2.png') no-repeat 0 -752px
    width 27px
    height 27px
    display block
    margin-top 8px
    
@media (min-width: 980px) {
    #content {
        margin-top: 40px;
    }
}
@media (max-width: 979px) {
    body.top-navbar {
        padding-top: 0;
    }
    .html {
        text-align: center;
    }
    .commons {
        text-align: center;
    }
}
@media (max-width: 540px) {
    .thumbnail {
        max-width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 480px) {
    .commentlist ul, ol, li {
        margin: 0px;
        padding: 0px;
    }
    .alignthumb {
        float: none;
        display: block;
        margin: 0 auto;
        padding-bottom: 5px;
    }
}