//=====================
//Variables
//=====================

//Typography
//---------------------
@font-family-sans-serif: 'Lato', Helvetica, Arial, sans-serif;
@font-face {
  font-family:'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('//themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff') format('woff');
}

//BorderRadius
//---------------------
@border-radius-px: 2px;
//Post
//---------------------
@border-bottom-bg: #d2d2d2;

//Modal
//---------------------
@size-modal-link: 40px;

//Sprite
//---------------------
@size-modal-icon: 20px;

//=====================
//Mixins
//=====================
.border-radius(@radius){
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
.border-top-radius(@radius){
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -webkit-border-top-left-radius: @radius;
}
.border-bottom-radius(@radius){
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
}
.transition(@background, @time, @orientation){
  -webkit-transition: @background @time @orientation;
  -moz-transition: @background @time @orientation;
  -o-transition: @background @time @orientation;
  -ms-transition: @background @time @orientation;
  transition: @background @time @orientation;
}

//=====================
//Classes
//=====================

iframe, object, embed{
  width: 100%;
}

//Body
//---------------------
body{
  margin-top: 70px;
  margin-bottom: 70px;
  background: #f8f8f8 url('../img/pw_maze_white.png') repeat center top fixed;
  .navbar{
    font-weight: 500;
    font-size: 1.15em;
    a{
      text-decoration: none;
    }
  }
  .navbar-center{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  .modal{
    &-body{
      padding: 0;
    }
    &-footer{
      margin-top: 0 !important;
    }
    &-link{
      padding: 2px 0;
      text-transform: uppercase;
      text-align: center;
      margin: 5px;
      span{
        display: inline-block;
        width: @size-modal-link;
        height: @size-modal-link;
        text-align: center;
        i{
          margin: (@size-modal-link - @size-modal-icon)/2;
        }
      }
      a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        margin: 0;
        width: 80%;
        height: @size-modal-link;
        line-height: @size-modal-link;
        text-align: center;
        vertical-align: middle;
      }
      &-facebook{
        span, a{
          background: #354f88;
        }
      }
      &-twitter{
        span, a{
          background: #45b0e3;
        }
      }
      &-google{
        span, a{
          background: #ce3e26;
        }
      }
      &-rss{
        span, a{
          background: #ed8832;
        }
      }
    }
  }
  .separator{
    margin-bottom: 30px;
  }
  
  //Posts
  //---------------------
  article{
    .separator{
      margin-bottom: 30px;
    }
    .thumbnail{
      position: relative;
      overflow: visible;
      background: #2d2d2d;
      padding: 0;
      border: 0;
      text-align: center;
      .border-radius(@border-radius-px);
      box-shadow: rgba(128, 128, 128, 0.74) 0 2px 4px;
      img{
        z-index: -1;
        margin: auto;
        vertical-align: middle;
        background: #fff;
      }
      .caption{
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(45, 45, 45, 0.6);
        width: 100%;
        color: #fff;
        i{
          padding-left: 2px;
          padding-right: 2px;
        }
        a{
          color: #fff;
          padding-right: 2px;
          padding-left: 2px;
        }
        &:hover{
          background: rgba(0, 0, 0, 0.6);
          .transition(background-color, 200ms, linear);
        }
      }
      h3{
        margin: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px dotted #a4a4a4;
      }
      p{
        margin: 0;
        padding: 4px 0 0 0;
        font-size: 0.8em;
      }
      footer{
        border-top: 1px solid #a4a4a4;
        padding: 10px;
        color: #fff;
        span{
          padding: 3px;
        }
      }
    }
  }
  //Sidebar
  //--------------------
  #sidebar{
    .widget{
      &-container{
        margin: 0 0 20px;
      }
      &-title{
        background: #3198B6;
        padding: 1px 15px;
        .border-top-radius(@border-radius-px);
        h3{
          color: #fff;
          text-shadow: 0 1px 0 #fff;
          text-shadow: 1px 1px 2px rgba(150,150,150,1);
          font-size: 1.3em;
          margin-top: 10px;
        }
      }
      &-content{
        padding: 0 6px 6px 6px;
        color: #fff;
        background: #2d2d2d;
        .border-radius(@border-radius-px);
        box-shadow: rgba(128, 128, 128, 0.74) 0 2px 4px;
        ul{
          list-style: none;
          margin: 0;
          padding: 5px 0;
          .active{
            background: rgb(200, 200, 200);
            .border-radius(@border-radius-px);
          }
          li{
            border-bottom: 1px dotted #444;
            padding: 5px;
            &:last-child{
              border-bottom: none;
              padding: 5px;
            }
          }
        }
      }
    }
  }
  .post{
    background: #fff;
    box-shadow: rgba(128, 128, 128, 0.74) 0 2px 4px;
    margin-bottom: 30px;
    header{
      background: #f1f1f1;
      border-bottom: 1px solid @border-bottom-bg;
      padding: 20px;
      a{
        color: #333;
        padding-right: 2px;
        padding-left: 2px;
      }
      i{
        padding-right: 2px;
        padding-left: 2px;
      }
    }
    section{
      padding: 20px;
      h1, h2, h3, h4, h5, h6{
        padding: 5px 0;
        margin: 0 0 10px 0;
        border-bottom: 1px solid @border-bottom-bg;
      }
      img.pull-left{
        margin-right: 1.5em;
        margin-bottom: 1em;
      }
      img.pull-right{
        margin-left: 1em;
        margin-bottom: 0.5em;
      }
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        iframe, object, embed{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .tag-list{
      border-top: 1px solid #d2d2d2;
      border-bottom: 1px solid #d2d2d2;
      margin: 5px 0 15px 0;
      padding: 15px 5px;
      a{
        text-decoration: none;
        color: #fff;
        margin: 0 3px;
      }
    }
    .social-post{
      margin-top: 30px;
    }
    
  }
//Sprite
//-----------------------
  .sprite{
    background: url('../img/sprites.png') no-repeat top left;
    &-brand{
      background-position: 0 0;
      width: 156px;
      height: 40px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 5px;
      padding-bottom: 5px;      
    }
    &-cc{
      background-position: 0 -70px;
      width: 30px;
      height: 30px;
      display: block;
      margin: 10px;
      padding: 10px;
    }
    &-html5{
      background-position: 0 -287px;
      width: 30px;
      height: 30px;
      display: block;
      margin: 10px;
      padding: 10px;
    }
    &-css3{
      background-position: 0 -124px;
      width: 30px;
      height: 30px;
      display: block;
      margin: 10px;
      padding: 10px;
    }
    &-share{
      background-position: 0 -934px;
      width: 30px;
      height: 30px;
      margin: 10px;
      &:hover{
        background-position: 0 -874px;
      }
      &-facebook{
        background-position: 0 -407px;
        margin: 2px;
        display: inline-block;
        &:hover{
          background-position: 0 -347px;
        }
      }
      &-google{
        background-position: 0 -527px;
        margin: 2px;
        display: inline-block;
        &:hover{
          background-position: 0 -467px;
        }
      }
      &-linkedin{
        background-position: 0 -647px;
        margin: 2px;
        display: inline-block;
        &:hover{
          background-position: 0 -587px;
        }
      }
      &-twitter{
        background-position: 0 -767px;
        margin: 2px;
        display: inline-block;
        &:hover{
          background-position: 0 -707px;
        }
      }
      &-diaspora{
        background-position: 0 -1160px;
        margin: 2px;
        display: inline-block;
        &:hover{
          background-position: 0 -1100px;
        }
      }
    }
    &-modal{
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      &-facebook{
        background-position: 0 -190px;
      }
      &-google{
        background-position: 0 -240px;
      }
      &-rss{
        background-position: 0 -827px;
      }
      &-twitter{
        background-position: 0 -994px;
      }
    }    
  }
}

//===========================
// Media queries
//===========================
@media (max-width:320px){
  .container{
    .row{
      .col-lg-9, .col-sm-6{
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  .thumbnail{
    padding-right: 0;
    padding-left: 0;
  }
  .caption{
    position: relative !important;
    background: none;
    color: #fff !important;
    &:hover{
      background: none;
    }
  }
}

@media (max-width:760px){
  .sprite{
    &-brand{
      margin-left: 5px;
    }
  }
}
