body
  background #f8f8f8 url('../imgs/pw_maze_white.png') repeat center top fixed
  .top-navbar
    padding-top 60px
  .admin-bar .navbar-fixed-top
    top 28px
  .navbar-inner
    background #2e2e2e
  .navbar .brand
    background url('../imgs/univ-navbar.png') no-repeat 20px -400px
    width 191px
    height 50px
  .navbar-text
    margin-bottom 0
    line-height 65px
    .twitter
      width 32px
      height 32px
      display block
      padding 20px 2px
      float left
      background url('../imgs/univ-navbar.png') no-repeat 2px -308px
            
    
